<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
</head>

<body>
    <h1>Benvenuto nel gioco Pokémon!</h1>

    <form action="{{ url_for('apri_bustina') }}" method="POST">
        <button type="submit">Apri un pacchetto (10 crediti)</button>
    </form>

    {% if carte %}
        <h2>La tua collezione di carte:</h2>
        <ul>
        {% for carta in carte %}
            <li>{{ carta['Nome'] }} - Rarità: {{ carta['Rarità'] }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Non hai ancora carte nella tua collezione.</p>
    {% endif %}

    <p>Credito totale: {{ credito }}</p>

    <a href="{{ url_for('mostra_credito') }}">Visualizza il credito</a>
</body>

</html>
